/* CSS declarations go here */
.btn.member {
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
	span.member-name { padding: 6px 10px; }
	img { width: 30px; height: 30px; }
	background: rgb(230, 230, 230);
	color: inherit;
}

.gravatar {
	&.grv-20 { border-radius: 10px; width: 20px; height: 20px; }
	&.grv-30 { border-radius: 15px; width: 30px; height: 30px; }
	&.grv-40 { border-radius: 20px; width: 40px; height: 40px; }
}